html {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 540px;
    padding: 10px;
    border-radius: 12px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 12px #898989,
                -9px -9px 12px #ffffff;
}

#calcDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 35px;
    height: 100px;
    padding: 1px 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #5a5a5a,
                inset -5px -5px 10px #ffffff;
}

.displayRow {
    display: flex;
}


.btnNumSymbols {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 12px #898989,
                -9px -9px 12px #ffffff;
}

.btnRow {
    display: flex;
    gap:10px;
}


button {
    font-size: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 18px #bebebe,
                -9px -9px 18px #ffffff;
    border: none;
}

button:active {
    box-shadow: 16px 16px 18px #aaaaaa inset,
                -16px -16px 18px #ffffff inset;
}


.btnClearDelete {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  9px 9px 12px #898989,
                -9px -9px 12px #ffffff;
}

#btnClear,
#btnDelete {
    font-size: 25px;
    border: none;
}

#btnClear {
    background: #dd1d1d;
}

#btnClear:active {
    border-radius: 50px;
    background: #dd1d1d;
    box-shadow: inset 34px 34px 68px #961414,
                inset -34px -34px 68px #ff2626;
}

#btnDelete {
    background: #73d216;
}

#btnDelete:active {
    border-radius: 50px;
    background: #73d216;
    box-shadow: inset 22px 22px 44px #62b313,
                inset -22px -22px 44px #84f219;
}


