html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 550px;
    border-radius: 12px;
    padding: 10px;
    flex-wrap: wrap;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 12px #898989,
                -9px -9px 12px #ffffff;
}

.calcDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    height: 100px;
    padding: 1px 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #5a5a5a,
                inset -5px -5px 10px #ffffff;
}

.calcBtnBox {
    display: flex;   
    justify-content: space-around;
    border: 0.5px ligth #bebebe;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  12px 12px 24px #bebebe,
             -12px -12px 24px #ffffff;
    
}

button {
    font-size: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 18px #bebebe,
                -9px -9px 18px #ffffff;
    border: none;
}

button:active {
    box-shadow: 16px 16px 18px #aaaaaa inset,
                -16px -16px 18px #ffffff inset;
}

#btnClear,
#btnDelete {
    font-size: 25px;
    border: none;
}

#btnClear {
    background: #dd1d1d;
}

#btnClear:active {
    border-radius: 50px;
    background: #dd1d1d;
    box-shadow: inset 34px 34px 68px #961414,
                inset -34px -34px 68px #ff2626;
}

#btnDelete {
    background: #73d216;
}

#btnDelete:active {
    border-radius: 50px;
    background: #73d216;
    box-shadow: inset 22px 22px 44px #62b313,
                inset -22px -22px 44px #84f219;
}

.isDepressed {
    box-shadow: 16px 16px 18px #ebc8c8 inset,
                -16px -16px 18px #ebc9c9 inset;
}



